::-webkit-scrollbar {
  display: none;
}

* {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #19193c;
}

html, body {
  height: 100vh;
}

body {
  background: #fff;
  margin: 0;
  /*height:100vh;*/
}

.parent, .child {
  /* necessary for sticky footer:*/
  height: 100%;
}
.vid{
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin: 30px 0;
  background: #e65128;
  
}
.vid iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*Hide scrollbar:*/
/*
.parent{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.child{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px;
    overflow-y: scroll;
}*/
.all {
  max-width: 1280px;
  margin: 0 auto;
}

.face {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto 10px auto;
}
.face svg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.face #smile-open {
  visibility: hidden;
}
.face #smile-normal {
  visibility: visible;
}
.face.excited #smile-open {
  visibility: visible;
}
.face.excited #smile-normal {
  visibility: hidden;
}
.face.excited #eyebrow {
  top: -2px;
}
.header{
	margin-bottom: 20px;
}
.header-links {
  display: flex;
  justify-content: space-between;
  max-width: 170px;
  margin: 10px auto 0 auto;
}

.header-links .inner{
  display: flex;
  justify-content: space-between;
  width:100%;

}
.nav {
  cursor: pointer;
  font-size: 26px;
  font-weight: 800;
  
  
  position: relative;
  overflow:hidden;
  transition: .3s;
}
.nav:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: 0;
    bottom: 0;
    height: 3px;
    background: #5b5bff;
}
.nav.active{
    color: #5b5bff;
}
@media (min-width: 520px) {
  .nav:hover:after{
      width: 100%;
      left: 0;
    }
}

.tile-container {
  width: 100%;
  text-align: center;
}

.tile {
  cursor: pointer;
  background-size: contain;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  margin: 10px;
  width: 400px;
  height: 300px;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

@media (max-width: 419px) {
  .tile {
    width: 360px;
    height: 270px;
  }
}
@media (max-width: 399px) {
  .tile {
    width: 340px;
    height: 255px;
  }
}
@media (max-width: 379px) {
  .tile {
    width: 320px;
    height: 240px;
  }
}
@media (max-width: 359px) {
  .tile {
    width: 300px;
    height: 225px;
  }
}
@media (max-width: 339px) {
  .tile {
    width: 280px;
    height: 210px;
  }
}
@media (max-width: 319px) {
  .tile {
    width: 260px;
    height: 195px;
  }
}
@media (max-width: 299px) {
  .tile {
    width: 260px;
    height: 195px;
  }
}

.tile:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.showcase{
    max-width:800px;
    margin:20px auto;
}
.showcase img{
  display:block;
  width:100%;
}
.page-wrap{
  overflow:hidden;
}
.page-holder{
  position:relative;

}
.page {
  width:100%;
  height:100%;
  transition-duration: 0.5s;
}
.page:not(.invisible) {
  opacity: 1;
}

.iframe-holder {
  height: 0;
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
}

.iframe-holder iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.page.invisible {
  opacity: 0;
  pointer-events:none;
  height: 0;
}
.invisible-fully {
  display:none;
}

.about, .contact {
  max-width: 400px;
  margin: 0 auto;
}
@media (max-width: 419px) {
  .about, .contact {
    max-width: calc(100% - 40px);
    margin: 0 20px;
  }
}
.content{
  margin-bottom: 20px; 
}
@media (max-width: 839px) {
  .content{
    margin: 20px; 
  }
}
h1 {
  font-weight: 800;
  margin-bottom: 10px;
  margin-top:0;
}
iframe{
  max-width:100%;
}
.separator {
  margin-bottom: 10px;
  background-color: #5b5bff;
  height: 4px;
  width: 60px;
  border-radius: 10px 10px;
}
.about ul > li, .contact ul > li {
  color: #5b5bff;
}

.copy{
	margin-bottom:10px;
}

ul.copy{
margin-top: 0;}

.copy, .copy li {
  line-height: 24px;
}
.extra-mail-btn a{
  text-decoration: none;
}
.extra-mail-btn div{
  height: 32px;
  line-height: 32px;
  background-color: #5b5bff;
  border-radius: 100px;
  width: 200px;
  margin: 20px auto;
  color:white;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
}

.extra-mail-btn div:hover{
  background-color: #4c4cff;
  
}

@media (max-width: 519px) {
  .extra-mail-btn div{
    height: 44px;
    line-height: 44px;
    width: 100%;

  }
  
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -56px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 56px;
}

.site-footer .logos {
  text-align: center;
}
.site-footer .logos svg {
  width: 32px;
  height: 32px;
  fill: #d1d1d8;
  margin: 0 6px;
}
.site-footer .logos svg:hover {
  fill: #5b5bff;
}
